body {
    margin: 0px;
    padding: 0px;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #666;
}



/* Global */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: yellow;
}

.button_one {
    width: 150px;
    padding: 10px;
    border: 0;
    background-color: #f2f2f2;
    font-size: 12px;
    color: #757575;
    font-weight: bold;
}

.button_one:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 1px 1px 0 0 #f2f2f2;
    color: #000000;
}






/* header/navbar */
header {
    height: 60px;
    width: 100%;
}

header nav {
    float: right;
    margin-bottom: 100px;
}

header nav ul {
    margin-right: 25px;
}

header nav ul li {
    margin-top: 10px;
    display: inline-flex;
    margin-left: 10px;
}


/* Google Logo */
#logo {
    margin-top: 100px;
    height: 150px;
    width: 100%;
}

#logo .logo {
    width: 272px;
    margin: 0 auto;
}

#logo .logo img {
    width: 300px;
}


/* Search Form */

#search {
    margin-top: 20px;
    width: 100%;
    display: block;
}

#searchForm {
    width: 100%;
    text-align: center;
}

#searchbarInput {
    width: 550px;
    height: 35px;
    font-size: 15px;
    margin: 0 auto;
    padding-left: 10px;
    box-shadow: 1px 2px 0px 0px #cccccc;
    border: 1px solid #cccccc;
}

#searchbarInput:hover {
    box-shadow: 2px 3px 0px 0px #cccccc;
    transition: 0.1s;
}

#searchbarInput:focus {
    outline: 0;
}


#buttons {
    margin-top: 30px;
}

input[type="button"]{
    width: 135px;
    margin: auto;
    margin: 0 3px;
    outline: 0;
    cursor: pointer;
}



/* Footer */
footer {
    background-color: #f7f7f7;
    font-size: 13px;
    border-top: 1px solid #e0e0e0;
    color: #777;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer li {
    display: inline;
    margin-right: 25px;
}

#left-footer {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

#right-footer {
    float: right;
}
